*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    background: rgb(207, 98, 21);
}

/*Navi & hometab*/
    /*General*/
#title{
    margin-top: 20px;
    text-align: center;
    font-size: 40px;
}
#title span{
    font-weight: 600;
    font-style: italic;
}
#home{
    animation: fadeIn 1s;
}
@keyframes fadeIn{
    0%{ opacity: 0;}
    100%{ opacity: 100;}
}
nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 40px;
    margin-right: 20px;
    margin-left: 20px;
    background: rgb(245, 161, 66);
    border-radius: 20px;
    padding: 30px;
    
}
nav ul li{
    display: inline-block;
    list-style-type: none;
    font-size: 25px;
    margin-left: 20px;
    margin-right: 30px;
    background: rgb(227, 125, 52);
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.5s;
}
nav ul li a{
    color: black;
}
#order-btn{
    background: rgb(227, 125, 52);
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.5s;
}
a{
    text-decoration: none;
}
#bake-logo{
    height: 100px;
    border-radius: 30px;
    margin-left: 15vh;
    transition: transform 0.5s;
}
#slogan{
    margin-top: 50px;
    font-size: 30px;
    text-align: center;
    background: rgba(227, 125, 52,0.6);
    border-radius: 10px;
    margin-right: 20vh;
    margin-left: 20vh;
    padding: 10px;

}
#slogan-2{
    margin-top: 90px;
    font-size: 30px;
    text-align: center;
    background: rgba(227, 125, 52,0.6);
    border-radius: 10px;
    margin-right: 20vh;
    margin-left: 20vh;
    padding: 10px;

}
#slogan-2 span{
    color: rgb(206, 206, 206);
    font-style: italic;
}
.bread{
    display: flex;
    justify-content: space-between;
    margin-top: 10%;
}
#panini{
    height: 200px;
    margin-left: 5%;
    border-radius: 10px;
    transition: transform 0.5s;
}
#panini-2{
    margin-top: 50px;
    height: 200px;  
    border-radius: 10px;
    transition: transform 0.5s; 
}
#panini-3{
    margin-right: 5%;
    height: 200px;
    width: 300px;
    border-radius: 10px;
    transition: transform 0.5s;
}
#home-tab{
    display: none;
    margin-top: 10%;
    margin-bottom: 10%;
}
    /*Hover*/
#order-btn:hover{
     transform: scale(1.2);
}
nav ul li:hover{
    transform: scale(1.2);
}
#panini:hover{
    transform: scale(1.3);
}
#panini-2:hover{
    transform: scale(1.3);
}
#panini-3:hover{
    transform: scale(1.3);
}
#bake-logo:hover{
    transform: scale(1.2);
}

/*menu-tab*/
    /*General*/
#menu-tab{
       display: none;
    margin-top: 5%;
    margin-bottom: 10%;
    background: rgb(245, 161, 66);
    height: 205vh;
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 20px;
}
.food-items{
    display: block; 
}
.menu-desc{
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
    color: rgb(245, 161, 66);
    /*blend in with bkg and make another one*/
}
#desc{
    margin-top: 20px;
    text-align: center;
    font-size: 25px;
    background: rgba(227, 125, 52,0.8);
    border-radius: 10px;
    margin-right: 20vh;
    margin-left: 20vh;
    padding: 8px;   
}
#desc i{
    color: rgb(56, 28, 8);
}
.food-items img{
    margin-top: 90px;
    margin-left: 40px;
}
.food-items p{
    margin-top: 30px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    background: rgba(227, 125, 52, 0.7);
    border-radius: 6px;
    padding: 5px;
}
#food-1{
    height: 200px;
    border-radius: 10px;
    transition: transform 0.5s;  
}
#food-2{
    height: 200px;  
    border-radius: 10px;
    transition: transform 0.5s; 
}
#food-3{
    height: 200px;  
    border-radius: 10px;
    transition: transform 0.5s; 
}
#item-1{
    margin-right: 87vh;
}
#item-2{
    margin-right: 83vh;
}
#item-3{
    margin-right: 90vh;
}
#item-1-ing{
    margin-right: 38vh;
}
#item-2-ing{
    margin-right: 30vh;
}
#item-3-ing{
    margin-right: 18vh;
}

    /*Hover*/
#food-1:hover{
    transform: scale(1.1);
}
#food-2:hover{
    transform: scale(1.1);
}
#food-3:hover{
    transform: scale(1.1);
}






/*location-tab*/
    /*General*/
#location-tab{
margin-top: 5%;
margin-bottom: 10%;
background: rgb(245, 161, 66);
height: 50vh;
margin-left: 15%;
margin-right: 15%;
border-radius: 20px;
}
#para{
    color: rgb(245, 161, 66);
    margin-left: 20px;
    /*hidden*/
}
#loc-1{
    margin-left: 50px;
    margin-top: 30px;
    font-size: 30px;
    font-weight: 600;
}
.location-locs{
    margin-top: 40px;
    margin-left: 50px;
}
#loc-2{
    margin-bottom: 30px;
}
#loc-3{
    margin-bottom: 30px;
}
#loc-4{
    margin-bottom: 30px;
}
#basket{
    margin-left: 70vh;
    margin-top: -70vh;
    border-radius: 10px;
    transition: transform 0.5s;
}
    /*hover*/
#basket:hover{
    transform: scale(1.1);
}










/*catering-tab*/
    /*General*/
#catering-tab{
    display: none;
margin-top: 5%;
background: rgb(245, 161, 66);
height: 90vh;
margin-left: 15%;
margin-right: 15%;
margin-bottom: 5%;
border-radius: 20px;
}
#cater{
    margin-top: -75vh;
    text-align: center;
    font-size: 25px;
    font-weight: 600;
    font-style: italic;
    

}
#submit-an-order{
    display: none;
    margin-top: 15vh;
    margin-left: 45vh;
    background: rgb(227, 125, 52);
    border-radius: 10px;
    padding: 3%;
    transition: transform 0.5s;
    
}
.sign{
    position: relative;
}
#sign-pic{
    height: 450px;
    width: 500px;
    margin-left: 24vh;
    margin-top: 16vh;
    border-radius: 10px;
    overflow: hidden;
}
    /*Layer and layer hover*/
.layer{
    height: 0px;
    width: 505px;
    background-image: linear-gradient(to bottom, rgba(240, 240, 240, 0.6), rgba(227, 125, 52, 0.6)), url(/Portfolio/Images-copy/bkgs/panera.jpg);
    background-size: cover;
    position: absolute;
    padding: 0 40px;
    margin-top: -64vh;
    margin-left: 170px;
    margin-right: 200px;
    border-radius: 10px;
    align-items: center;
    text-align: center;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    transition: height 0.7s;
    
    
}  
.layer p{
    font-size: 25px;
    margin-top: 40px;
    
}
.layer a{
    background: white;
    margin-top: 20px;
    margin-bottom: 20px;
    text-decoration: none;
    text-align: center;
    line-height: 60px;/*This is what allowed the bread icon to be centered vertically*/
    height: 60px;
    width: 60px;
    font-size: 25px;
    border-radius: 30px;
    color: rgb(227, 125, 52);

}  
    /*Hover*/
#submit-an-order:hover{
    transform:scale(1.1) ;
}
.sign:hover .layer{
    height: 450px;
}



